body {
  margin: 0;
  padding: 0;
  background-image: url("./media/background.jpg");
  display: flex;
  justify-content: center;
}

#board {
  background-color: white;
  height: 80vh;
  width: 80vh;
  margin-top: 10vh;
  display: flex;
  /* flex-wrap: wrap; Usado para quebrar as linhas quando os elementos internos chegam a borda */
  box-shadow: 0 0 3vh 3vh rgba(0, 0, 0, 0.8);
  border: 1vh solid rgb(69, 64, 64);
}

.col.even .col.odd {
  height: 10vh;
  width: 80vh;
}

.col.even :nth-child(even),
.col.odd :nth-child(odd) {
  height: 10vh;
  width: 10vh;
  background-color: cornsilk;
}

.col.even :nth-child(odd),
.col.odd :nth-child(even) {
  height: 10vh;
  width: 10vh;
  background-color: black;
}

.cell {
  display: flex;
  height: 10vh;
  width: 10vh;
  justify-content: center;
}

#pieceDark {
  background-image: url("./media/pieceDark.png");
  background-repeat: round;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
}

#pieceLight {
  background-image: url("./media/pieceLight.png");
  background-repeat: round;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
}
